.CardItemDetail {
  width: calc(33.33% - 20px);
  text-align: center;
  border: 1px solid #ececec;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 55px;
  background-color: #222;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.HeaderDetail {
  text-align: center;
}

.ItemHeaderDetail {
  font-size: 1.2rem;
  margin: 10px;
}

.ItemImgDetail {
  max-width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 4px;
  border: 3px solid #e63200;
}

.InfoDetail {
  font-size: 1rem;
  margin: 5px 0;
}

.ItemFooterDetail {
  text-align: center;
}

.BotonTerminarCompra {
  display: inline-block;
  padding: 8px 16px;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.BotonTerminarCompra:hover {
  background-color: #666;
  color: #ec7e00;
}

@media (max-width: 768px) {
  .CardItemDetail {
    width: calc(50% - 20px); /* Dos elementos por fila en pantallas más pequeñas */
    margin: 10px;
  }

  .ItemHeaderDetail {
    font-size: 1rem; /* Reducción del tamaño de fuente para pantallas más pequeñas */
    margin: 10px;
  }

  .ItemImgDetail {
    width: 70%;; /* Ancho completo para la imagen */
    height: 200px; /* Reducción de la altura de la imagen */
  }

  .InfoDetail {
    font-size: 0.9rem; /* Reducción del tamaño de fuente para pantallas más pequeñas */
    margin: 5px 0;
  }

  .BotonTerminarCompra {
    padding: 5px 10px; /* Ajuste de padding para botón en pantallas más pequeñas */
  }
}
